body {
    background: #D1E8E2;
    padding-top: 1em;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

.canvas-container { 
    margin:0 auto ;               
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #049972;
}

.button-container {
    padding: 0.5em;
    cursor: pointer;
    margin-right: 15px;
    font-size: 1em;
    font-family: sans-serif;
    display: inline-block;
}

input {
    padding: 0.5em;
    margin-right: 15px;
    font-family: sans-serif;
}

.google {
    border: 1px solid #95989A;
    background: #fff;
    background-size: 25px;
}